# Зависимости
node_modules

# Сборка
dist

# Разработка
eslint.config.js
.prettierignore
prettier.config.js
.editorconfig

# IDE
.vscode
.idea
.cursor

# Git
.git
.gitignore
.gitattributes
.github

# Документация
*.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OpenAPI
deps