NODE_ENV=
POSTGRES_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
POLZA_AI_BASE_URL=
POLZA_AI_API_KEY=
POLZA_AI_STRUCTURED_OUTPUT_MODEL=
POLZA_AI_IMAGE_MODEL=
WEB_APP_BASE_URL=
LANDING_BASE_URL=
REDIS_URL=